<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Form Input Template</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
      <h1 class="display-4">Volunteer Sign-Up Sheet</h1>
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_name">What is your name?</label>
          <input type="text" class="form-control" name="input_name"  id="input_name" placeholder="Fred Fred" required>
        </div>
        <div class="form-group">
          <label for= "input_address">What is your address?</label>
          <input type="text" class="form-control" name="input_address" id="input_address" placeholder="502 point run way" required>
        </div>
        <div class="form-group">
          <label for= "input_email">What is your email address?</label>
          <input type="email" class="form-control" name="input_email" id="input_email" placeholder="robinhood@gmail.com" required>
        </div>
        <div class="form-group">
          <label for="input_radio">Are you signing up to be a volunteer, or just to recycle?</label><br>
          <input type="radio" name="role" value="Volunteer">Volunteer<br>
          <input type="radio" name="role" value="Recycle">Recycle<br>
        </div>
        <div class ="form-group">
          <label for="input_checkbox">If you are a Volunteer, What days would you be free? Check all that apply</label><br>
          <input type="checkbox" name="day" value"Monday">Monday<br>
          <input type="checkbox" name="day" value="Tuesday">Tuesday<br>
          <input type="checkbox" name="day" value="Wendnesday">Wednesday<br>
          <input type="checkbox" name="day" value="Thursday">Thursday<br>
          <input type="checkbox" name="day" value="Friday">Friday<br>
          <input type="checkbox" name="day" value="Saturday">Saturday<br>
          <input type="checkbox" name="day" value="Sunday">Sunday</br>
        </div>
        <div class="form-group">
          <label for="input_freeform">Any Questions?</label>
          <textarea class="form-control" name="input_freeform" id="input_freeform" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container">
      {% if output %} {{ output }} {% endif %}
      {% if recycle %}Thankyou for recycling {{name}} we wil notify you at {{address}} via postcard on when to put out your recycling. {% endif %}
      {% if volunteer %}Thankyou for volunteering {{name}} we will notify you at {{email}} via email on which days you will volunteer. {% endif %}
      {% if questions %}We will answer your question asap by emailing you at {{email}} {% endif %}
    </div>
  </body>
</html>

