<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Form Input Template</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
      <h1 class="display-4">Volunteer Sign-Up Sheet</h1>
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_name">What is your name?</label>
          <input type="text" class="form-control" name="input_name"  id="input_name" placeholder="Fred Fred" required>
        </div>
        <div class="form-group">
          <label for= "input_address">What is your address?</label>
          <input type="text" class="form-control" name="input_address" id="input_address" placeholder="502 point run way" required>
        </div>
        <div class="form-group">
          <label for="input_checkbox">What days would you be free? Check all that apply</label><br>
          <input type="checkbox" name="day" value"Monday">Monday<br>
          <input type="checkbox" name="day" value="Tuesday">Tuesday<br>
          <input type="checkbox" name="day" value="Wendnesday">Wednesday<br>
          <input type="checkbox" name="day" value="Thursday">Thursday<br>
          <input type="checkbox" name="day" value="Friday">Friday<br>
          <input type="checkbox" name="day" value="Saturday">Saturday<br>
          <input type="checkbox" name="day" value="Sunday">Sunday</br>
        </div>
        <div class="form-group">
          <label for="input_select">What is your favorite number?</label>
          <select multiple class="form-control" name="input_select" id="input_select">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_freeform">Write big boi essay</label>
          <textarea class="form-control" name="input_freeform" id="input_freeform" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container">
      {% if input_data %} {{ input_data }} {% endif %}
      <br />
      {% if output %} {{ output }} {% endif %}
    </div>
  </body>
</html>

